section {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
}
section img {
  width: 7.5rem;
  object-fit: contain;
}
h1,
h4,
p {
  margin: 0.5rem 0;
}
h1 {
  color: rgb(50, 50, 50);
}
h4 {
  font-weight: 400;
}
p {
  color: rgb(164, 155, 199);
}
span {
  color: rgb(76, 76, 76);
}
@media only screen and (max-width: 650px) {
  section {
    flex-direction: column;
  }
  section img {
    height: 2.5rem;
  }
}
